{# src/Arii/JIDBundle/Resources/views/Default/history.html.twig #}
{% extends "AriiCoreBundle::layout.html.twig" %}
{% block body %}
<body>
<style>
.dhx_dataview {
	overflow-y: auto !important;
}
.dhx_dataview_default_item,
.dhx_dataview_default_item_selected {
	position: relative;
	border-width: 0px !important;
	background: none !important;
	cursor: default;
}
.dhx_dataview div.dhxdataview_placeholder:first-child {
	margin-top: 2px;
}
.menu_item {
	position: relative;
	height: 60px;
	background-color: #f5f5f5;
	margin: 3px 2px 0px 5px;
	border-bottom: 1px dotted #ccc;
	background-repeat: no-repeat;
	background-position: 18px 4px;
	color: #333333;  
        width: 100%
}
.menu_item:hover {
	background-color: #f0f0f0;
	border-color: #bbb;
}
.dhx_dataview_default_item_selected .menu_item {
	background-color: #B6BADF;
	border-color: #aaa;
	color: #2e2e2e;
}
.menu_item.inbox {
	background-image: url(../icons/folder-downloads.png);
}
.menu_item.fav {
	background-image: url(../icons/folder-favorites.png);
}
.menu_item.drafts {
	background-image: url(../icons/folder-txt.png);
}
.menu_item.outbox {
	background-image: url(../icons/folder-activities.png);
}
.menu_item.sent {
	background-image: url(../icons/mail-folder-sent.png);
}
.menu_item.trash {
	background-image: url(../icons/user-trash.png);
}
.menu_item.contacts {
	background-image: url(../icons/folder-image-people.png);
}
.menu_item_text {
	position: relative;
	margin-left: 12px;
	height: 60px;
	line-height: 56px;
	font-family: "Open Sans", sans-serif, Arial;
	font-weight: 400;
	font-size: 16px;
	color: inherit;
}
</style>
<style>
.dhx_dataview_dish1_item, .dhx_dataview_dish1_item_selected{
        background-image:url(./images/bg_1.gif);height:136px;width:577px;cursor:default;background-repeat : no-repeat;
}
.dhx_dataview_dish2_item, .dhx_dataview_dish2_item_selected{
        background-image:url(./images/bg_2.gif);height:136px;width:288px;cursor:default;float:left;background-repeat : no-repeat;
}
.dhx_dataview_dish3_item, .dhx_dataview_dish3_item_selected{
        background-image:url(./images/bg_3.gif);height:136px;width:141px;cursor:default;float:left;background-repeat : no-repeat;
}

.dhx_dataview_dish1_item_selected, .dhx_dataview_dish2_item_selected, .dhx_dataview_dish3_item_selected{
        background-position: 0px -136px;
}


.dish1 .dish_img, .dish2 .dish_img, .dish3 .dish_img{
        margin:25px 0px 0px 10px;height:92px;width:121px;
}
.dish1 .body, .dish2 .body{
        float:left;margin-left:20px;
}
.dish1 .nm, .dish2 .nm, .dish3 .nm{
        font-family:Georgia;
        font-size:23px;
        font-weight:normal;
        padding:20px 0 5px;
line-height:28px;
}

.dish1 .desc{
        font-family:Helvetica, Tahoma, Arial;
        font-size:12px;
        line-height: 18px;
}

.dish1 .price, .dish2 .price, .dish3 .price{
        background-image:url(./images/price.png);
background-repeat : no-repeat;
        padding:1px 0px 0px 12px;
        font-family:Georgia;
        font-size:22px;
        font-weight:normal;
        color:#a9a9a9;
        height:33px;width:58px;
line-height:26px;
}
</style>
<textarea id="type_dish1" style="display:none;">
<div class="dish1">
	<div class="dish_img" style="float:left;{common.image()}"></div>
	<div class="body" style="width:350px;">
		<div class="nm">{obj.name}</div>
		<div class="desc">{obj.desc}</div>
	</div>
	<div class="price" style="float:left;margin-top:55px;">${obj.price}</div>
</div>
</textarea>

<textarea id="type_dish2" style="display:none;">
<div class="dish2">
	<div class="dish_img" style="float:left;{common.image()}"></div>
	<div class="body" style="height:70px;width:100px;">
		<div class="nm">{obj.name}</div>
	</div>
	<div class="price" style="float:left;margin:5px 0px 0px 20px;">${obj.price}</div>
</div>
</textarea>

<textarea id="type_dish3" style="display:none;">
<div class="dish3">
	<div class="dish_img" style="margin:5px 0px 0px 10px;{common.image()}"></div>
	<div class="price" style="margin:5px 0px 0px 40px;">${obj.price}</div>
</div>
</textarea>
<!--
<div id="data_container" style="width:606px;height:283px;overflow:hidden;border:1px solid #cccccc;margin:0;"></div>
<div style="margin: 10px 0px 0px 50px;font-size:12px;height:50px;">
    <div style="cursor:default;" onclick="changeType(this)"><input type="radio" name="type" value="dish2" checked="checked" style="float:left;margin-left:30px;"><div style="float:left;background:url('images/4dishes.gif') no-repeat;padding-left:20px;height:25px;">Normal View</div></div>
    <div style="cursor:default;" onclick="changeType(this)"><input type="radio" name="type" value="dish1" style="float:left;margin-left:30px;"><div style="float:left;background:url('images/2dishes.gif') no-repeat;padding-left:20px;height:25px;">Detailed View</div></div>
    <div style="cursor:default;" onclick="changeType(this)"><input type="radio" name="type" value="dish3" style="float:left;margin-left:30px;"><div style="float:left;background:url('images/8dishes.gif') no-repeat;padding-left:20px;height:25px;">Brief View</div></div>
</div>
-->
<script type="text/javascript">
dhtmlxEvent(window,"load",function() { 
    globalLayout = new dhtmlXLayoutObject(document.body,"2U");  
    globalLayout.cells("a").hideHeader();

    globalMenu = globalLayout.cells("a").attachMenu();
    globalMenu.setIconsPath( "{{ asset('/bundles/ariicore/images/menu/') }}" );
    globalMenu.loadStruct("{{ url('xml_menu') }}?route={{ app.request.attributes.get('_route') }}");
    
    dhtmlx.Type.add(dhtmlXDataView,{
    name:"dish1",
    css: "dish1",
    template:"html->type_dish1",
            width: 577,
            height: 137,
            margin: 2,
            image:getImageStyle
    });

    dhtmlx.Type.add(dhtmlXDataView,{
            name:"dish2",
            css: "dish2",
            template:"html->type_dish2",
            width: 288,
            height: 137,
                    margin: 2,
                    image:getImageStyle
    });

    dhtmlx.Type.add(dhtmlXDataView,{
            name:"dish3",
            css: "dish3",
            template:"html->type_dish3",
            width: 141,
            height: 137,
                    margin: 2,
                    image:getImageStyle
    });

//        dhxView = globalLayout.cells("b").attachDataView({ type:"dish2" });
dhxView = globalLayout.cells("b").attachDataView();
dhxView.load("http://dhtmlx.com/docs/products/dhtmlxDataView/xml/data.xml?"+(new Date()).valueOf(), "xml");
   
});

function changeType(elem){
        switch(elem.firstChild.value){
                case "dish1":
                        dhxView.define("type","dish1")
                break;

                case "dish2":
                        dhxView.define("type","dish2")
                break;

                case "dish3":
                        dhxView.define("type","dish3")
                break;
        }
        elem.firstChild.checked = 'true';
}

function getImageStyle(obj){
        if(window._isIE){
                return "background-image: none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+obj.img+"',sizingMethod='crop');";
        }
        else{
                return "background-image:url("+obj.img+");";	
        }
}
	
</script>
</body>
{% endblock %}
